:root {
    --brand-color: #fd9d3e;
    --bg-color: #ffffff;
    --text-primary-color: #fd9d3e;
    --text-secondary-color: #999999;
    --btn-color: #91b842;  
}
div.hero{
    width: 100%;
    height: 100vh;
}