*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    
}
.box{
    height: 400px;
    width: 400px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}