*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
  display: flex;
    justify-content: center;
     align-items: center;
     
}
.box{
    height: 400px;
    width: 400px;
    background-color: blue;
    border-radius: 12px;  
}
.container .box::after{
    content: "";
    height: 400px;
    width: 400px;
    background-color: crimson;
}
